<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b4fb65df89.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
</head>
<body style="padding-top:0px">
    
    <div class="row">
        <div class="col-2" style="padding-right:0px; background:#079992 ;padding-bottom:350px ">
            <img style="margin-left:70px" src="~/Sources/Icons/icon-soporte.png" />
            <h4 class="text-white" style="text-align:center;">MÓDULO DEL ADMIN</h4>
            <div class="btn-group-vertical" style="font-size:20px;" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" style="margin-right:69px" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-address-book"  style="font-size: 40px;"></i> Personal
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="">Agregar un nuevo trabajador</a>
                        <a class="dropdown-item" href="/Usuario/Index">Ver los Usuarios</a>
                        <a class="dropdown-item" href="/Usuario/Create">Crear un rol</a>
                        <a class="dropdown-item" href="/Rol/Index">Ver Los Roles</a>
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop2" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-money-check-alt" style="font-size: 40px;"></i> Ventas
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                        <a class="dropdown-item" href="/Venta/Create">Hacer una venta </a>
                        <a class="dropdown-item" href="#">Buscar un venta?</a>
                        <a class="dropdown-item" href="/Venta/Index">Ver todas las vetas</a>
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop3" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bars"  style="font-size: 40px;"></i>Almacen
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
                        <a class="dropdown-item" href="#">Registrar Nuevo Producto</a>
                        <a class="dropdown-item" href="#">Agregar Producto Exitente</a>
                        <a class="dropdown-item" href="#">Registrar Nuevo Proveedor</a>
                        <a class="dropdown-item" href="#">Ver Proveedor </a>
                        <a class="dropdown-item" href="#">Buscar Proveedor </a>
                        
                    </div>
                </div>
           
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop4" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-archive"  style="font-size: 40px;"></i> Articulo
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop4">
                        <a class="dropdown-item" href="/Articulo/Index">Ver todos los Articulo</a>
                        <a class="dropdown-item" href="#">Buscar Articulo?</a>
                        <a class="dropdown-item" href="/Categoria/Index">Ver Categorias </a>
                        <a class="dropdown-item" href="/Categoria/Create">Agregar una categoria</a>

                        <a class="dropdown-item" href="/Categoria/Create">Buscar Categoria </a>


                    </div>
                </div>
            </div>
            
            <!--
    <div class="nav flex-column nav-pills" style="padding:4px 4px 0px 4px ;">
        <li style="margin:2px 4px"><a class="nav-link btn btn-warning btn-block" href="/Usuario/Index">Usuario</a></li>
        <li style="margin:2px 4px"><a class="nav-link btn btn-warning btn-block" href="/Rol/Index">Rol</a></li>
        <li style="margin:2px 4px"><a class="nav-link btn btn-warning btn-block" href="/Articulo/Index">Articulo</a></li>
        <li style="margin:2px 4px"><a class="nav-link btn btn-warning btn-block" href="/Categoria/Index">Categoria</a></li>
        <li style="margin:2px 4px"><a class="nav-link btn btn-warning btn-block" href="/Persona/Index">Persona</a></li>
        <li style="margin:2px 4px"><a class="nav-link btn btn-warning btn-block" href="/Persona/Index">detalle VEnta</a></li>
        <li style="margin:2px 4px"><a class="nav-link btn btn-warning btn-block" href="/Venta/Index">Venta</a></li>
        <li style="margin:2px 4px"><a class="nav-link btn btn-warning btn-block" href="/Ingreso/Index">ingreso</a></li>
        <li style="margin:2px 4px"><a class="nav-link btn btn-warning btn-block" href="/Persona/Index">detalleingreso</a></li>
        <li style="margin:2px 4px"><a class="btn btn-warning btn-block">Personas </a></li>


    </div>
    -->
        </div>
        <div class="col-10 container body-content" style="margin-bottom:20px">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
            </footer>
        </div>

    </div>
    
    
</body>
</html>
