@model IEnumerable<WebApplication3.Models.Clases.Articulo>

@{
    ViewBag.Title = "Articulos";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>

        <th>Código</th>
        <th>Nombre</th>
        <th>Precio Actual</th>
        <th>Unidades Disponibles </th>
        <th>Categoria</th>
        <th>Estado </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.codigo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.precio_venta)
    </td>
    <td style="">
        @Html.DisplayFor(modelItem => item.stock)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.categoria.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.condicion)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Desactivar Producto", "Delete", new { id = item.id })
    </td>
</tr>
}

</table>
