@model IEnumerable<WebApplication3.Models.Clases.Persona>

@{
    ViewBag.Title = "BuscarProveedor";
}

<h2>BuscarProveedor</h2>
<form action="/Almacen/BuscarProveedor">
    Nombre del proveedor:
    <input type="text" placeholder="Ingrese un nombre" name="query" value="@ViewBag.query" />
    <button class="btn">Enviar</button>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_persona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_persona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
