@model List<WebApplication3.Models.Clases.Articulo>
@{
    ViewBag.Title = "Create";
}
<h2>Lista de Productos Disponibles</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Codigo</td>
            <td>Categoria</td>
            <td>Precio</td>
            <td>Stock</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.nombre</td>
                <td>@item.codigo</td>
                <td>@item.categoria.nombre</td>
                <td>@item.precio_venta</td>
                <td>@item.stock</td>
                <td><button id="@item.id" data-nombre="@item.nombre" data-stock="@item.stock" class="add btn btn-warning btn-block">Agregar </button></td>

            </tr>
        }
    </tbody>
</table>
<div style="background-color:teal; width:100px" ;height ="100px"></div>
<hr />
<h2>Lista de Productos a comprar </h2>
<form action="/Venta/Create" method="post">
    <label>Ingrese El usuario</label>
    <select name="idusuario">
        @foreach (var item in ViewBag.usuario)
        {
            <option value="@item.id">@item.nombre</option>
        }
    </select>
    
    <label>Ingrese El Cliente</label>
    <select name="idcliente">
        @foreach (var item in ViewBag.cliente)
        {
            <option value="@item.id">@item.nombre</option>
        }
    </select>
    <div class="alert alert-secondary">
        <div id="request-store-products" class="container ">

            <label>Usted no agrego nada </label>
        </div>
        <button class="btn btn-primary  btn-lg btn-block" name="enviar">Enviar</button>
    </div>
    
   
</form>


<script>

    let products = []

    function add_Div(products) {
        console.log(products)
        let valorHtml = "";
        for (let item=0; item < products.length ; item++) {
            console.log(item)
            valorHtml += `<div class="alert alert-primary row ">
                             <div class="col col-8">
                                <span>${products[item].nombre}</span>  
                             </div>   
                             <div class="col col-2">
                               <a class="btn btn btn-primary" onclick="add_productos_of_List         (${item})" > + </a>
                                <label>${products[item].cantidad}</label>
                                <a class="btn btn btn-secondary text-white"         onclick="substrackting_productos_of_List(${item})"> - </a>        
                             </div>
                             <div class="col col-2">
                                <a class="btn btn btn-danger text-white" onclick="delete_productos_of_List  (${item})"> Eliminar </a>
                            </div>
                          </div>`
                
        }

        $("#request-store-products").html(valorHtml)
        

    }
    function substrackting_productos_of_List(numero_de_orden_del_array) {
        products[numero_de_orden_del_array].cantidad > 0
            ? products[numero_de_orden_del_array].cantidad -= 1
            : products[numero_de_orden_del_array].cantidad = 0

        add_Div(products);

    }
    function add_productos_of_List(numero_de_orden_del_array) {
        $.ajax(
            {
                url: `/Venta/ReturnStock_Product?id=${products[numero_de_orden_del_array].id}`,
            }).done(function (stockDelServidorProducto) {
                console.log(stockDelServidorProducto)
                console.log(products[numero_de_orden_del_array].id)

                if (parseInt(stockDelServidorProducto) > products[numero_de_orden_del_array].cantidad) {
                    products[numero_de_orden_del_array].cantidad++;
                    add_Div(products);
                }

            }).fail(function (e) { alert("error"+e) })
         
    }
    function delete_productos_of_List(numero_de_orden_del_array) {
        products.splice(numero_de_orden_del_array, 1);
        add_Div(products);
    }
    function verificar(id,name,max_count) {
            var existe = false
            for (let item of products) {
                if (id == item.id) {
                    existe = true
                    if (item.stock > item.cantidad) item.cantidad++ 
                }
            }
            if (!existe) {
                
                products.push(
                    {
                        id: id, nombre: name, cantidad: 1, stock: max_count
                    
                    }
                )    
            } 
            

        }
    $(".add").click(function () {
            let nombre = ($(this).attr("data-nombre"))
            let id = $(this).attr("id")
            let stock = $(this).attr("data-stock")
            verificar(id, nombre, stock)
            add_Div(products)
          })

</script>


