@model List<WebApplication3.Models.Clases.Articulo>
@{
    ViewBag.Title = "Create";
}

<table class="table table-hover">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Codigo</td>
            <td>Categoria</td>
            <td>Precio</td>
            <td>Stock</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.nombre</td>
                <td>@item.codigo</td>
                <td>@item.categoria.nombre</td>
                <td>@item.precio_venta</td>
                <td>@item.stock</td>
                <td><button id="@item.id" data-nombre="@item.nombre" data-stock="@item.stock" class="add btn btn-warning btn-block">Agregar </button></td>

            </tr>
        }
    </tbody>
</table>
<div style="background-color:teal; width:100px" ;height ="100px"></div>
<form action="/Venta/Create" method="post">
    <label>Ingrese El usuario</label>
    <select name="idusuario">
        @foreach (var item in ViewBag.usuario)
        {
            <option value="@item.id">@item.nombre</option>
        }
    </select>
    
    <label>Ingrese El Cliente</label>
    <select name="idcliente">
        @foreach (var item in ViewBag.cliente)
        {
            <option value="@item.id">@item.nombre</option>
        }
    </select>
    <div id="request-store-products" >
        

    </div>
    <button class="btn btn-success" name="enviar">Enviar</button>
</form>


<script>
    let products = []

    function add_Div(products) {
        console.log(products)
        let valorHtml = "";
        
        for (let item=0; item < products.length ; item++) {
            console.log(item)
            valorHtml += `<div class="alert alert-success">${products[item].nombre}
            <a href="#" data-item=${item} onclick="sum_count(${products[item].id})" class="sum_count btn btn-success">+</a>
            <span>${products[item].cantidad}<span>
            <a href="#" data-item=${item} class="rest_count btn btn-warning">-</a>
            <a href="#" data-item=${item}class="quit btn btn-danger">QUITARL</a>
            <input hidden class="form-control" name="store_list[${item}].idarticulo" value="${products[item].id}" />
            <input hidden class="form-control" name="store_list[${item}].nombre" value="${products[item].nombre}" />
        <hr>Descuento
            <input  class="form-control" name="store_list[${item}].descuento"  />
            </div>`
            
        }

        $("#request-store-products").html(valorHtml)
        //$("#request-store-products").html(valorHtml)

    }
   
       function verificar(id,name,max_count) {
            var existe = false
            for (let item of products) {
                if (id == item.id) {
                    existe = true
                    if (item.stock > item.cantidad) item.cantidad++ 
                }
            }
            if (!existe) {
                
                products.push(
                    {
                        id: id, nombre: name, cantidad: 1, stock: max_count
                    
                    }
                )    
            } 
            

        }
       $(".add").click(function () {
            let nombre = ($(this).attr("data-nombre"))
            let id = $(this).attr("id")
            let stock = $(this).attr("data-stock")
            verificar(id, nombre, stock)
            add_Div(products)
          })

    function sum_count(id) {
        alert(id)

        verificar(id,"" , "")
    }

</script>

