@model IEnumerable<WebApplication3.Models.Clases.Venta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Vendedor</th>
        <th>Tipo</th>
        <th>Cod serie</th>
        <th>Fecha</th>
        <th>IGV</th>
        <th>Total</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_comprobante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.serie_comprobante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.impuesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
       <td>
          <a href="/Venta/Details?id?=@item.id">Ver lista de compra</a>
        </td>
    </tr>
}

</table>
